# Core dependencies
requests==2.32.5
beautifulsoup4==4.12.3
python-dotenv==1.0.1
flask==3.0.3
aiohttp==3.9.5
lxml==5.2.2

# Scheduling
schedule==1.2.2

# Testing
pytest==7.4.4
pytest-xdist==3.6.1

# Dev / Linting tools
pylint==3.2.5

# Production server
gunicorn==22.0.0

# Logging and monitoring
Werkzeug==3.0.3
