# Core dependencies
requests==2.32.5
beautifulsoup4==4.14.3
python-dotenv==1.2.1
flask==3.1.2
aiohttp==3.13.2
lxml==5.2.2

# Scheduling
schedule==1.2.2

# Testing
pytest==9.0.2
pytest-xdist==3.8.0

# Dev / Linting tools
pylint==4.0.4

# Production server
gunicorn==23.0.0

# Logging and monitoring
Werkzeug==3.1.4
